<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record lectures for transcription and summarization.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need speech recognition to transcribe your recorded lectures.</string>
</dict>
</plist>
